.main-layout {
    min-height: 100vh;
    height: fit-content;
    background: #EDF2F7;

    .main-container {
        margin: 76px 0px 0px;
        padding: 0 30px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .sidebar {
            margin-right: 20px;
        }
        .main-outlet {
            width: 100%;
            min-height: 80vh;
        }
    }
}