.sidebar-container {
    width: 85px;
    border-radius: 10px;
    background: #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
    position: relative;
    transition: all .3s ease-in-out;

    .sidebar-toggle-btn {
        position: absolute;
        top: 50%;
        right: 0;
        margin-right: -11px;
        cursor: pointer;
        transition: all .3s;
    }

    .pages {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        .link {
            display: flex;
            text-decoration: none;
            cursor: pointer;
            align-items: center;            
            border: 1px solid #FFF;
            span {
                font-weight: 400;
                font-size: 17px;
                color: #7D9DB5;
                width: 0px;
                visibility: hidden;
                opacity: 0;
            }
        }
        .activeStyle{
            span{
                color: #1F8AF4;
            }
        }

        .link:hover {
            span{
                color: #1F8AF4;
            }
            img {
                filter: invert(51%) sepia(57%) saturate(5494%) hue-rotate(193deg) brightness(100%) contrast(92%);
            }
        }
        .activeStyle {
            img {
                filter: invert(51%) sepia(57%) saturate(5494%) hue-rotate(193deg) brightness(100%) contrast(92%);
            }
        }
    }

    .sidebar-logout {
        all: unset;
        cursor: pointer;
    }

    .rotated-btn {
        transform: rotate(-180deg);
    }
}

.sidebar-container.expended {
    width: 200px;
    .pages{
        .link{
            span {
                margin-left: 18px;
                width: initial;
                visibility: visible;
                opacity: 1;
                transition: all 0.3s 0s; 
            }
        }
    } 
}