.select-quiz-container{
    background: #1F8AF4;
    height: calc(100vh - 77px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    margin: -76px 0px 0px -135px;
    gap: 60px;
    .f-blank, .m-choice{
        width: 520px;
        padding: 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        background: #FFFFFF;
        box-shadow: 0px 11px 16px rgba(45, 106, 181, 0.54);
        border-radius: 8px;
        height: 528px;
        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            h4 {
                margin:0;
                font-size: 23px;
                color: #39404B;
                margin-bottom: 25px;
                font-weight: 500;
            }
            span {
                font-weight: 300;
                font-size: 16px;
                text-align: center;
            }
        }
        .select {
            width: 179px;
            height: 48px;
            background: #E4F1FE;
            border-radius: 8px;
            border: none;
            font-weight: 500;
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #0B78E5;
            cursor: pointer;
        }
    }
}