.quiz-list-item {
    display: flex;
    border: 1px solid #CBD5E1;
    border-radius: 8px;
    padding: 9px;
    align-items: center;
    margin-bottom: 22px;
    justify-content: space-between;
    transition: all .3s ease;

    .details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        .title {
            font-weight: 500;
            font-size: 17px;
            color: #3A4654;
            margin: 0;
            margin-bottom: 4px;
        }

        .info {
            display: flex;
            justify-content: flex-start;

            .createdAt {
                font-weight: 300;
                font-size: 13px;
                color: #617082;
                margin-right: 19px;
            }

            .createdBy {
                font-weight: 300;
                font-size: 13px;
                color: #2D6AB5;
                margin-right: 19px;
            }

            .categories {
                display: flex;

                .category {
                    padding: 2px 7px;
                    border-radius: 16px;
                    width: fit-content;
                    display: flex;
                    font-size: 12px;
                    justify-content: space-between;
                    align-items: center;
                    margin-right: 3px;

                    img {
                        width: 0;
                        visibility: hidden;
                        opacity: 0;
                        cursor: pointer;
                        transition: visibility 0s, width 1s, opacity 0.5s linear;
                    }
                }

                .category:hover {
                    img {
                        width: initial;
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .actions {
        display: flex;
        align-items: center;

        .link-btn {
            margin-right: 11px;

        }

        a {
            text-decoration: none;
        }


        .btn {
            all: unset;
            cursor: pointer;
            padding: 8px 18px;
            color: #0B78E5;
            font-weight: 500;
            font-size: 15px;
            background: #E4F1FE;
            border-radius: 8px;
            margin-right: 11px;
        }

        .btn:last-child {
            margin-right: 0px;
        }

        .orange-btn {
            color: #8C7740;
            background: #EFE3C4;
        }

        .blue-btn {
            color: #0B78E5;
            background: #E4F1FE;
        }

        .green-btn {
            color: #408C4C;
            background: #C4EFCB;
        }
    }

    .more-btn {
        cursor: pointer;
        padding: 0 3px;
    }
}

.quiz-list-item:hover {
    background: #F1F8FC;
    border-left: 5px solid #1F8AF4;
    box-shadow: 0px 4px 4px #E4F1FE;
}

.orange {
    color: #344054;
    background: #FAD7A3;
}

.green {
    background: #D1FADF;
    color: #027A48;
}
