.quizList-container {
    width: 100%;
    height: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: space-between;

    .quiz-list {
        width: 54%;
        height: 100%;
        min-height: 80vh;
        background: #FFFFFF;
        border-radius: 10px;
        padding: 19px 27px 26px;
        position: relative;
        transition: all 0.3s;

        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 23px;

            div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 33px;
                gap: 10px;
                color: #617082;
            }

            button {
                all: unset;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 5px 10px;
                gap: 16px;
                width: 180px;
                height: 41px;
                background: #1F8AF4;
                border-radius: 8px;
                color: #fff;
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 20px;
            }

        }

        .search-sort {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 22px 0px;

            .sort-container {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                span {
                    font-size: 13px;
                    font-weight: 500;
                    color: #39404B;
                    margin-right: 7px;
                }

                .select-date {
                    margin-right: 13px;
                    border: none;
                    padding: 4px;
                }

                .select-date,
                .select-filter {
                    width: 85px;
                    height: 30px;
                    background: #EEEEEE;
                    border-radius: 8px;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    color: #39404B;
                }
            }

            .search {
                width: 195px;
                height: 30px;
                border: 1px solid #E4F1FE;
                border-radius: 8px;
                padding: 6px 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                input {
                    all: unset;
                    font-weight: 400;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    color: #39404B;
                    width: 100%;
                }
            }
        }

        .list {
            
        }
    }

    .quiz-preview {
        width: 0px;
        width: 44%;
        transition: all 0.3s;
        height: 100%;
        min-height: 80vh;
        background: #39404B;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        .css-ohwg9z {
            width: 95%;
            border-radius: 10px !important;
        }

        .css-1f8sh1y {
            height: 550px !important;
            border-radius: 10px;
        }
    }

    .pagination {
        position: absolute;
        bottom: 28px;
        width: calc(100% - 54px);
        display: flex;
        justify-content: center;
    }


}

@media only screen and (max-width: 1000px) {
    .quizList-container {
        .quiz-list {
            width: 100% ;
        }

        .quiz-preview {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            border-radius: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.8);

            .css-ohwg9z {
                border-radius: 10px !important;
            }

            .css-1f8sh1y {
                height: 750px !important;
                border-radius: 10px !important;
            }

            .item {
                .closeModalBtn {
                    display: block;
                }
            }

        }
        }
    }