.slider-item {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 11px 25px;

    img {
        width: 100%;
    }

    .closeModalBtn {
        display: none;
        width: 24px;
    }

    .choices {
        margin-top: 45px;
    }


    h2 {
        font-weight: 500;
        font-size: 27px;
        color: #39404B;
        margin: 0;
        margin-top: 29px;
        text-align: center;
    }

    .choice {
        display: flex;
        justify-content: flex-start;
        background: #E4F1FE;
        border: 1px solid #E4F1FE;
        border-radius: 10px;
        align-items: center;
        margin-bottom: 18px;

        span {
            padding: 11px;
            font-weight: 400;
            font-size: 15px;
        }

        .checkBtn {
            width: 38px;
            border-right: 5px solid #BDD7D9;
            height: 47px;
            border-radius: 10px 0px 0px 10px;
            background: #E6EFF9;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                opacity: 0;
                margin-top: 7px;
            }

        }
    }

    .isTrue {
        .checkBtn {
            background: #95E6A2;
            border-right: 5px solid #10C222;

            img {
                opacity: 1;
            }
        }
    }
}