.navbar-container {
    height: 77px;
    width: 100%;
    display: flex;
    padding: 0 55px;
    align-items: center;
    justify-content: space-between;
    // maybe I will implement some glabal variables later.
    background: #fff;
    > img {
        cursor: pointer;
    }

    .nav-user-info {
        display: flex;
        align-items: center;

        >div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            img {
                margin-right: 26px;
                border-radius: 100%;
                width: 47px;
                height: 47px;
                object-fit: cover;
            }

            .username-role {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-right: 10px;

                .username {
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 20px;
                    color: #39404B;
                }

                .role {
                    font-family: 'Poppins', sans-serif;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 20px;
                    color: #1F8AF4;
                }
            }
        }

        .logout-btn {
            all: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 9px 13.5px;
            gap: 12px;
            width: 112px;
            height: 29px;
            color: white;
            background: #1F8AF4;
            border-radius: 6px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            cursor: pointer;
            img {
                filter: invert(98%) sepia(3%) saturate(103%) hue-rotate(171deg) brightness(116%) contrast(100%);
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .navbar-container{
        padding: 0 10px;
    }
}